body{
    font-style: italic;
}

.main{
    width: 60%;
    margin: 20px auto;
    border: 1px solid blue;
    padding: 20px;
    background: burlywood;
}
h2{
    margin-top: 0px;
    color: darkmagenta;

}
.encabezado {
    background-color: rgb(238, 14, 14);
    padding: 20px;
    color: burlywood;
    margin-bottom: 20px;
    font-size: 30px;
    box-shadow: 0px 10px 10px black;
}
h3{
    color: red;
}