body{
    font-style: italic;
}

.main{
    width: 90%;
    margin: 20px auto;
    border: 1px solid blue;
    padding: 20px;
    background: rgb(177, 10, 102);
}
h2{
    margin-top: 0px;
    color: chocolate;

}
.encabezado {
    background-color: rgb(68, 0, 255);
    padding: 20px;
    color: cornsilk;
    margin-bottom: 20px;
    font-size: 30px;
    box-shadow: 0px 10px 10px black;
}