body{
    font-style: italic;
}

.main{
    width: 70%;
    margin: 20px auto;
    border: 1px solid blue;
    padding: 20px;
    background: burlywood;
}
h2{
    margin-top: 0px;

}
.encabezado {
    background-color: aqua;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    box-shadow: 0px 10px 10px black;
}